<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/static/css/gallerystyle.css">
</head>
<body>
    <div class="container">
        <!-- Upload Section -->
        <div class="upload-section">
            <h3>Upload Your Photo</h3>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit">Upload Photo</button>
            </form>
        </div>

        <!-- Gallery Section -->
        <div class="gallery-container">
            <h2>Image Gallery</h2>
            <div class="image-gallery" id="image-gallery">
                <!-- will be filled in -->
            </div>
            <div class="alert" id="error-message"></div> <!-- For error messages -->
        </div>
    </div>
    <script src="/static/js/authUtils.js"></script>
    <script src="/static/js/gallery.js"></script>
</body>
</html>